html, body {
	margin: 0;
    padding: 0;
    overflow:auto;
}

body {
  
}


.section-container {
	display: block;
	width: 100%;

	.section-row {
		position: absolute;
		display: table;
		width: 100%;
		min-height: 100%;
		height: 100%;
		max-height: 100%;
		
		.section {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 100%;
			min-height: 100%;
			height: 100%;
			max-height: 100%;

			font-size: 3em;
			font-family: Arial;
		}

	}

	#sec1 {
		top: 0px;
		background: #eee;
	}

	#sec2 {
		top: 100%;
		background: #ccc;
	}

	#sec3 {
		top: 200%;
		background: #333;
	}
}

.float-menu {
	position: fixed;
	z-index: 200;
	left: 20px;
	top: 100px;

	a:link {
		font-size: 14px;
		font-weight: bold;
	}

	a.active {
		font-size: 30px;
	}

}